body {
  font-family: 'Comfortaa', sans-serif;
  margin-top: 80px;
  /* background-color:#e1e1e2; */
}

button.navbar-toggler {
  position: fixed;
  right: 0;
  margin: 10px;
}

.custom-navbar {
  background-color: #b1afb6;
}

form {
  max-width: 300px;
  margin: 22px;
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 12px;
}

form button {
  margin-top: 16px;
}

header {
  margin-bottom: 12px;
}

h1, h2, h3, h4, h5 {
  margin-left: 22px;
  margin-right: 22px;
}

/* .map {
  border: 2px solid purple;
  width: 600px;
  height: 300px;
} */

.elementHiddn {
  display: none;
}

nav.navbar.navbar-expand-lg.bg-light {
  height: 60px;
}

.logout {
  align-self: self-end;
}

.containerMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 40px 40px 0;
}

/* .containerMinMap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 50px 100px;
  gap: 100px;
} */



/* .containerAll {
  display: flex;
  flex-wrap: wrap;
} */

.containerAllCart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cardCart {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 350px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #e1e1e2;
}

.card {
  display: flex;
  flex-direction: row; /* Горизонтальное расположение элементов */
  align-items: center;
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  /* padding: 16px; */
  /* width: 700px; */
  /* height: 150px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* margin: 20px; */
  background-color: #fff;
}

.card-img-topp {
  width: 150px;
  /* height: 150px; */
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1; /* Заставляет card-content занимать все оставшееся пространство */
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  font-size: 13px;
  line-height: 20px;
}

.btn-add {
  display: inline-block;
  padding: 10px 20px;
  font-size: 11px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
}

.elementHiddn {
  display: none;
}

.btn-add:hover {
  color: #fff;
  background-color: #0056b3;
}

.placeOrder {
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 7px 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

.placeOrder:hover {
  background-color: rgb(156, 19, 156);
  transform: translateY(-2px);
}

.placeOrder:active {
  background-color: rgb(97, 13, 97);
  transform: translateY(0);
}

.placeOrder:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(88, 1, 88);
}

.allCost {
  margin-top: 30px;
  font-size: 25px;
}

.priceValue {
  font-weight: bold;
}

.btn-del {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  text-decoration: none;
}

.btn-del:hover {
  background-color: #999;
  color: white;
}

.mainContainerCart {
  padding-left: 30px;
  margin-top: 20px;
  display: flex;
}

.elem2 {
  padding-left: 130px;
}

.card-titleCart {
  font-size: 23px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.form-control {
  margin-bottom: 0;
  min-width: 250px;
}

.horizontal-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.btn {
  margin-top: 0;
}

.orders-container {
  display: flex;
}

.courier-floating-container,
.client-floating-container {
  width: 49%;
}

.order-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}

.orderCourier-pictures,
.orderClient-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-left: 22px;
}

.locationDiv {
  margin-left: 22px;
}

.orderClient-image,
.orderCourier-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.delete,
.accept {
  margin-top: 10px;
  width: 100%;
}

.contPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contReg {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  margin: 10px 0;
}

hr {
  width: 100%;
  margin: 20px 0;
}

form {
  width: 100%;
}

.form-label {
  margin-top: 10px;
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

#mainTitle {
  font-weight: bold;
  /* color: white; */
}

.original-price {
  text-decoration: line-through;
  margin-right: 8px;
  color: #888;
  font-weight: bold;
}

.discounted-price {
  font-size: 20px;
  font-weight: bold;
  margin-right: 8px;
  color: #d9534f;
}

.discount-percentage {
  font-size: 14px;
  font-weight: bold;
  color: #d9534f;
}

.containerMinMap {
  display: flex;
  flex-direction: row;
}

.map {
  width: 60%; /* Растягиваем карту на всю доступную ширину */
  margin-right: 20px; /* Добавляем небольшое расстояние между картой и карточками */
  /* height: 400px; */
  height: 70vh;
}

/* .containerAll {
  width: 30%;
} */

.card {
  width: 100%; /* Занимает 100% ширины контейнера */
}

.card-img-topp {
  width: 30%; /* Устанавливаем ширину изображения карточки */
}

.card-content {
  width: 60%; /* Устанавливаем ширину контента карточки */
}

.card {
  /* Ваши текущие стили */
  margin-bottom: 20px; /* Добавляем отступ снизу каждой карточки */
}

.containerAll {
  height: 70vh;
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
}

.highlight {
  color: #d9534f;
  /* color: white;  */
}

.text_cart {
  color: purple;
  font-weight: bold;
}