button.navbar-toggler {
  position: fixed;
  right: 0;
  margin: 10px;
}

body {
  background-color: #9a8db5;
}

/* nav.navbar.navbar-expand-lg.bg-light {
  height: 140px;
  background-color: blueviolet;
} */

.custom-navbar {
  background-color: #b1afb6;
}

form {
  max-width: 300px;
  margin: 22px;
  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 12px;
  }
  button {
    margin-top: 16px;
  }
}

header {
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-left: 22px;
  margin-right: 22px;
}

.map {
  border: 2px solid purple;
  width: 600px;
  height: 300px;
  /* flex-grow: 1; Карта занимает все доступное место */
}

.elementHiddn {
  display: none;
}

nav.navbar.navbar-expand-lg.bg-light {
  height: 60px;
}

.logout {
  align-self: self-end;
}

.containerMap {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Выравнивание по вертикали (если необходимо) */
  align-items: center; /* Выравнивание по горизонтали */
  text-align: center; /* Центрирование текста внутри элементов */
  margin: 40px 40px 40px 0;
  gap: 20px;
}

.containerMinMap {
  display: flex;
  align-items: center; /* Вертикальное выравнивание */
  justify-content: flex-start; /* Горизонтальное распределение */
  margin: 50px 100px;
  gap: 100px;
}

.text-map {
  align-self: center; /* Выравнивание текста по вертикали */
  padding: 20px; /* Отступы вокруг текста */
  max-width: 300px; /* Максимальная ширина текста */
  text-align: center;
}

.containerAll {
  display: flex;
  flex-wrap: wrap;
}

.containerAllCart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cardCart {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 350px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #e1e1e2;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e1e1e2;
}

.containerMinCart {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 17px;
  margin-bottom: 8px;
}
.card-text {
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 18px;
}

.card-textCart {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 18px;
}

.btn-add {
  display: inline-block;
  padding: 10px 20px;
  font-size: 11px;
  color: #fff;
  background-color: #373756;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
}

.placeOrder {
  background-color: purple; /* Зеленый цвет фона */
  color: #fff; /* Белый цвет текста */
  border: none; /* Убираем границу */
  border-radius: 8px; /* Скругленные углы */
  padding: 7px 15px; /* Внутренние отступы */
  font-size: 12px; /* Размер шрифта */
  font-weight: bold; /* Жирный текст */
  text-align: center; /* Центрирование текста */
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Плавный переход для фона и трансформации */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
  margin: 30px;
}

.placeOrder:hover {
  background-color: rgb(
    156,
    19,
    156
  ); /* Темно-зеленый цвет фона при наведении */
  transform: translateY(-2px); /* Легкий подъем кнопки при наведении */
}

.placeOrder:active {
  background-color: rgb(97, 13, 97); /* Еще темнее при клике */
  transform: translateY(
    0
  ); /* Кнопка возвращается в исходное положение при клике */
}

.placeOrder:focus {
  outline: none; /* Убираем обводку */
  box-shadow: 0 0 0 3px rgb(88, 1, 88); /* Добавляем фокусное кольцо */
}

.allCost {
  margin-top: 30px;
  font-size: 25px;
}

.priceValue {
  font-weight: bold; /* Делаем текст жирным */
}

.btn-del {
  display: inline-block;
  width: 20px; /* Ширина кнопки */
  height: 20px; /* Высота кнопки */
  border-radius: 50%; /* Радиус скругления, чтобы сделать кнопку круглой */
  background-color: #ccc; /* Цвет фона - светло-серый */
  color: #fff; /* Цвет текста - белый */
  text-align: center; /* Выравнивание текста по центру */
  line-height: 20px; /* Центрирование текста по вертикали */
  font-size: 13px; /* Размер шрифта */
  text-decoration: none; /* Убираем подчеркивание */
}

.btn-del:hover {
  background-color: #999; /* Изменяем цвет фона при наведении */
  color: white;
}

.mainContainerCart {
  padding-left: 30px;
  margin-top: 20px;
  display: flex;
}

.elem2 {
  padding-left: 130px;
  /* padding-top: 100px;  */
}

.card-title {
  font-size: 20px;
  text-align: center;
}

.card-titleCart {
  font-size: 23px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.form-control {
  margin-bottom: 0;
  min-width: 250px;
}

.horizontal-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.btn {
  margin-top: 0;
}

.orders-container {
  display: flex;
}

.clientOrdersContainer,
.courierOrdersContainer {
  width: 49%;
}

.order-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}

.orderCourier-pictures,
.orderClient-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-left: 22px;
}

.locationDiv {
  margin-left: 22px;
}

.orderClient-image,
.orderCourier-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.delete,
.accept {
  margin-top: 10px;
  width: 100%;
}
.contPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Высота равная высоте видимой области браузера */
}

.contReg {
  width: 400px; /* Ширина контейнера с формой регистрации */
  padding: 20px; /* Отступы вокруг контейнера */
  border: 1px solid #ccc; /* Граница контейнера */
  border-radius: 10px; /* Закругление углов контейнера */
  background-color: #fff; /* Фоновый цвет контейнера */
}

h3 {
  text-align: center;
  font-size: 1.5em;
  margin: 10px 0;
}

hr {
  width: 100%;
  margin: 20px 0;
}

form {
  width: 100%;
}

.form-label {
  margin-top: 10px;
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.btn-add:hover {
  color: #999;
}
/* 
.name {
  font-weight: bold;
} */

.text_cart {
  color: purple;
  font-weight: bold;
}
